@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;700&display=swap');
.container {
    width: 450px;
    height: 500px;
    padding: 64px 64px 128px;
    margin-top: 8rem;
    border-radius: 12px;
}

.text-login {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
}

.col-4 {
    width: 100%;
}

.form-control {
    width: 350px;
    height: 60px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    background: #d2d2d2 !important;
    color: #000000;
    border-radius: 8px;
}

.btn-warning {
    width: 350px;
    height: 60px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF !important;
}